* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.item {
    border: 2px solid #ddd;
    padding: 40px;
}

.item1 {
    background: green;
}

.item2 {
    background: blue;
}

.item3 {
    background: red;
}